:root {
  --blue: rgb(24, 44, 100);
  --navy: rgb(31, 57, 94);
}

header {
  display: flex;
  justify-content: center;
  color: white;
  background-color: var(--blue);
  height: 60px;
  font-size: 35px;
}

form {
  float: left;
  margin-top: 25px;
  height: 550px;
  margin-left: 5px;
}

form .btn {
  width: 186px;
}

form input {
  margin-top: 5px;
}

#error-message {
  display: none;
  color: red;
}

.previous-search {
  width: 203px;
  margin-top: 50px;
  border: solid grey;
  padding: 5px;
}

.previous-search .btn {
  margin-top: 2px;
}

main .card {
  margin-left: 15px;
  margin-top: 20px;
  height: 300px;
  font-size: 25px;
}

section .card {
  background-color: var(--navy);
  margin-left: 15px;
  color: white;
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  #give-row {
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
  }
}
