:root {
    --blue: rgb(24, 44, 100);
    --navy: rgb(31, 57, 94);
}


header {
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--blue);
    height: 50px;
    font-size: 30px;
    
}


form {
    float: left;
    margin-top: 20px;
    height: 550px;
}

main .card {
    margin-left:10px;
    margin-top: 20px;
    height: 300px;
}

section .card {
    background-color: var(--navy);
    margin-left: 15px;
    color: white;
}




